html {
  background-color: #dbd6cf;
  box-sizing: border-box;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
  border: 3px solid #595652;
  margin: .1em;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
}

.nav {
  margin: .3em;
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.nav li {
  display: inline-block;
  height: 3em;
}

a {
  background-color: #713837;
  border-radius: 5px;
  border: 1px solid #713837;
  color: #fff;
  text-decoration: none;
  margin: .3em;
  line-height: 1.5;
  padding: .6em .5em .75em;
}

a:hover {
  background-color: #f33;
  border-radius: 5px;
  border: 5px solid #f33;
}

h1 {
  font-family: 'Bevan', cursive;
  line-height: 1.5;
  text-align: center;
  margin: .3em;
  box-sizing: border-box;
  color: #fff;
}
